<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div> 
		<form action="/logout" method="post">
		<input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>



<a href="/">Start page</a><br>
	<div>
		<form method="POST">
			<input type="text" name="request" placeholder="App ">
			<input type="text" name="bid" placeholder="">
			<input type="hidden" name="_csrf" value="{{_csrf.token}}">
			<button type="submit">Add application</button>
		</form>
	</div>
	
	
	<div>List Apps</div>
	{{#messagesApps}}
	<div>
		<b>{{id}}</b>
		<span>{{request}}</span>
		<i>{{bid}}</i>
		<i>{{date}}</i>
		<i>{{status}}</i>
	</div>
	{{/messagesApps}}

</body>
</html>